@import (reference) '../../../less/main';

.cart {
  position: relative;
  /**
   * /-----------------\
   * Background (outer)
   * \-----------------/
   */

  .box {
    background: #fff;
    border: 1px solid #ddd;
    min-height: 100px;
    padding: 20px;
  }

  .box > .list-empty {
    display: table;
    height: 100%;
    // Display is no longer a block (which makes an element)
    // to use up the entire horizontal space.
    width: 100%;
  }

  .box > .list-empty > .inner {
    display: table-cell;
    vertical-align: center;
    .text-center;
  }

  /**
   * /-----------------\
   * List
   * \-----------------/
   */

  .box > .list {
    .row;
  }

  .box > .list > .name {
    .make-md-column(5);
    // ellipsis sshit
  }

  .box > .list > .price {
    .make-md-column(2);
  }

  .box > .list > .qt {
    .make-md-column(2);
  }

  .box > .list > .options {
    .make-md-column(3);
  }

  .box > .list > .options > .decrease-btn {
    .btn;
    .btn-warning;
  }

  .box > .list > .options > .delete-btn {
    .btn;
    .btn-danger;
  }

  /**
   * /-----------------\
   * List Blank
   * \-----------------/
   */

   .box > .list-blank {
    display: table;
    height: 200px;
  }

  .box > .list-blank > .inner {
    display: table-cell;
    vertical-align: center;
    .text-center;
  }

  /**
   * /-----------------\
   * Floating Button Actions
   * \-----------------/
   */

  .actions {
    position: absolute;
    width: 100%;
    .clearfix;
  }

  .actions > .btn {
    .btn;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .actions > .btn.-clear {
    .pull-left;
    .btn-default;
  }

  .actions > .btn.-checkout {
    .pull-right;
    .btn-default;
  }
}
