@import (reference) '../../../less/main';

.cart {
  position: fixed;
  width: 100%;

  /**
   * /-----------------\
   * Background (outer)
   * \-----------------/
   */

  .box {
    background: @brand-info;
    min-height: 100px;
    padding: 20px;
  }

  /**
   * /-----------------\
   * List
   * \-----------------/
   */

  .box > .list {
    .row;
  }

  .box > .list > .name {
    .make-md-column(5);
    // ellipsis sshit
  }

  .box > .list > .price {
    .make-md-column(2);
  }

  .box > .list > .qt {
    .make-md-column(2);
  }

  .box > .list > .options {
    .make-md-column(3);
  }

  .box > .list > .options > .decrease-btn {
    .btn;
    .btn-warning;
  }

  .box > .list > .options > .delete-btn {
    .btn;
    .btn-danger;
  }

  /**
   * /-----------------\
   * List Blank
   * \-----------------/
   */

   .box > .list-blank {
    display: table;
    height: 200px;
  }

  .box > .list-blank > .inner {
    display: table-cell;
    vertical-align: center;
    .text-center;
  }

  /**
   * /-----------------\
   * Floating Button Actions
   * \-----------------/
   */

  .actions {
    .clearfix;
  }

  .actions > .clear-btn {
    .pull-left;
    .btn;
    .btn-danger;
  }

  .actions > .checkout-btn {
    .pull-right;
    .btn;
    .btn-success;
  }
}
