@import (reference) '../../../less/main';

.product {
  > .list {}
  > .list > .item {
    .panel;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  > .list > .item:first-child { margin-top: 0; }
  > .list > .item:last-child { margin-bottom: 0; }
  > .list > .item > .body { .panel-body; }
  > .list > .istm > .body > .buy-btn { .btn-default; }
}
